{{ define "main" }}

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3 class="hero__c-title not-apply">{{ .Site.Params.Title }}</h3>
        <h2 class="hero__title mt-4 not-apply">{{ .Site.Params.description | safeHTML }}</h2>
        <p class="hero__paragraph not-apply">{{ .Site.Params.about | safeHTML }}</p>
      </div>
      <div class="col-lg-6 col-md-12 mt-4 mt-lg-0">
        <div class="hero__block">
          <ul class="hero__nav-tabs nav nav-tabs" id="myTab" role="tablist">
            {{ range $index, $element := .Site.Data.tabs }}
            <li class="nav-item">
              <a class="hero__nav-link {{ if .active }} active {{ end }}"
                 id="{{ .id }}-tab"
                 data-toggle="tab"
                 href="#{{ .id }}"
                 role="tab"
                 aria-controls="{{ .id }}"
                 aria-selected="true">{{ $element.tabTitle }}</a>
            </li>
            {{ end }}
          </ul>
          <div class="tab-content" id="myTabContent">
            {{ range $index, $element := .Site.Data.tabs }}
            <div class="hero__tab-pane tab-pane fade {{ if .active }} show active {{ end }}"
                 id="{{ .id }}"
                 role="tabpanel"
                 aria-labelledby="home-tab">
              <h3 class="hero__tab-title text-center mt-4">{{ $element.title }}</h3>
              <div class="hero__tab-body text-center mt-4">{{ $element.description }}</div>
              <button class="btn-cta mt-3">{{ $element.buttonTitle }}</button>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="announcement">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="announcement__wrapper">
          {{ partial "gallery.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="why__title text-center">
          {{ with .GetPage "why.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
        <p class="why__paragraph text-center mt-3 d-sm-flex d-none">
          {{ with .GetPage "why.md" }}
            {{ .Description }}
          {{ end }}
        </p>
      </div>
    </div>
    <div class="row mt-5 pb-5">
      {{ with .GetPage "why.md" }}
        {{ .Content }}
      {{ end }}
    </div>
  </div>
</section>

<section class="features">
  {{ partial "features.html" . }}
    <div class="row">
      <div class="col-12 text-center pb-5">
        <button class="btn-cta mt-5">Get started</button>
      </div>
    </div>
  </div>
</section>

<section class="accelerators">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">
          {{ with .GetPage "accelerators.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
      </div>
    </div>
  </div>
  {{ with .GetPage "accelerators.md" }}
    {{ .Content }}
  {{ end }}
</section>

<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">Testimonials</h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
        <p class="testimonials__testimonial font-italic">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          commodo iaculis ex, non rhoncus arcu blandit
          sed. Fusce eget pharetra nulla, vel fermentum ante. Phasellus gravida non diam sed vehicula.”
        </p>
        <p class="testimonials__author">– Name Lastname, job title, Company name</p>
      </div>
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
        <p class="testimonials__testimonial font-italic">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          commodo iaculis ex, non rhoncus arcu blandit
          sed. Fusce eget pharetra nulla, vel fermentum ante. Phasellus gravida non diam sed vehicula.”
        </p>
        <p class="testimonials__author">– Name Lastname, job title, Company name</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn-cta mt-5">Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="companies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="companies__title">
          {{ with .GetPage "companies.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
        <a href="#">Read case studies</a>
      </div>
    </div>
  </div>
  <div class="container">
    {{ with .GetPage "companies.md" }}
      {{ .Content }}
    {{ end }}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="companies__wrapper">
          <div class="companies__cta mt-4" id="toggleBtn" data-toggle="collapse" href="#companies" aria-expanded="false"
               aria-controls="companies">Show more
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
